html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
input,
textarea {
  outline: none;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
}
#fly-main .fly-header {
  width: 80%;
  margin-left: 70px;
}
#fly-main .fly-logo {
  width: 700px;
  margin: 70px auto;
  position: relative;
}
#fly-main .fly-logo div {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 280px;
  box-sizing: border-box;
  top: 1px;
  -webkit-animation: rotate 2.5s infinite;
  animation: rotate 2.5s infinite;
}
#fly-main .fly-logo div:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e65e51;
  top: -3px;
  left: 0;
  box-shadow: 0 0 10px rgba(62, 59, 189, 0.5);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  10% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  10% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}
#fly-main .fly-pannel-bar {
  width: 100%;
  height: 50px;
  position: relative;
  top: -40px;
  line-height: 50px;
}
#fly-main .fly-pannel-bar .btn-group {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: relative;
}
#fly-main .fly-pannel-bar .btn-group a {
  background: #eee;
  margin: 0 5px;
  color: #666666;
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
  padding: 5px 10px;
}
#fly-main .fly-pannel-bar .btn-group a.active {
  color: #fff;
  background: #e88c03;
}
#fly-main .fly-pannel-bar .btn-group a.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #fff;
  left: 45px;
  bottom: -15px;
}
#fly-main .fly-pannel-bar .btn-group:before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-bottom: 1px solid #fff;
}
#fly-main .fly-pannel-bar .btn-group a {
  position: relative;
}
#fly-main .fly-panner-container {
  width: 82%;
  height: 100px;
  margin: -30px 0 0 70px;
  overflow: hidden;
  position: absolute;
}
#fly-main .fly-panner-container .fly-panner-containers .fly-shurong {
  width: 97.5%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}
#fly-main .fly-panner-container .fly-panner-containers .fly-shurong .fly-shurong-container {
  width: 80%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  background: #ffffff;
}
#fly-main .fly-panner-container .fly-panner-containers .fly-zizhanchengzhang {
  width: 97.5%;
  height: 98%;
  text-align: center;
  position: absolute;
  -webkit-transform: translate3d(200%, 0px, 0px);
  transform: translate3d(200%, 0px, 0px);
}
#fly-main .fly-panner-container .fly-panner-containers .fly-edit {
  width: 97.5%;
  height: 98%;
  position: absolute;
  -webkit-transform: translate3d(200%, 0px, 0px);
  transform: translate3d(200%, 0px, 0px);
}
#fly-main .fly-panner-container .fly-panner-containers .fly-edit .fly-text {
  width: 90%;
  height: 95px;
  position: relative;
  margin: 20px auto;
}
#fly-main .fly-panner-container .fly-panner-containers .fly-edit .fly-img {
  width: 98%;
  height: 110px;
  position: relative;
  margin: 20px auto;
}
#fly-main .fly-panner-container .fly-panner-containers .activeOut {
  -webkit-animation: transformsOut 0.3s;
  animation: transformsOut 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#fly-main .fly-panner-container .fly-panner-containers .activeIn {
  -webkit-animation: transformsIn 0.3s;
  animation: transformsIn 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes transformsOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translate3d(-10%, 0px, 0px);
    transform: translate3d(-10%, 0px, 0px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate3d(-20%, 0px, 0px);
    transform: translate3d(-20%, 0px, 0px);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate3d(-30%, 0px, 0px);
    transform: translate3d(-30%, 0px, 0px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate3d(-40%, 0px, 0px);
    transform: translate3d(-40%, 0px, 0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate3d(-50%, 0px, 0px);
    transform: translate3d(-50%, 0px, 0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate3d(-60%, 0px, 0px);
    transform: translate3d(-60%, 0px, 0px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate3d(-70%, 0px, 0px);
    transform: translate3d(-70%, 0px, 0px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate3d(-80%, 0px, 0px);
    transform: translate3d(-80%, 0px, 0px);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate3d(-120%, 0px, 0px);
    transform: translate3d(-120%, 0px, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(200%, 0px, 0px);
    transform: translate3d(200%, 0px, 0px);
    opacity: 0;
  }
}
@keyframes transformsOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translate3d(-10%, 0px, 0px);
    transform: translate3d(-10%, 0px, 0px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate3d(-20%, 0px, 0px);
    transform: translate3d(-20%, 0px, 0px);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate3d(-30%, 0px, 0px);
    transform: translate3d(-30%, 0px, 0px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate3d(-40%, 0px, 0px);
    transform: translate3d(-40%, 0px, 0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate3d(-50%, 0px, 0px);
    transform: translate3d(-50%, 0px, 0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate3d(-60%, 0px, 0px);
    transform: translate3d(-60%, 0px, 0px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate3d(-70%, 0px, 0px);
    transform: translate3d(-70%, 0px, 0px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate3d(-80%, 0px, 0px);
    transform: translate3d(-80%, 0px, 0px);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate3d(-120%, 0px, 0px);
    transform: translate3d(-120%, 0px, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(200%, 0px, 0px);
    transform: translate3d(200%, 0px, 0px);
    opacity: 0;
  }
}
@-webkit-keyframes transformsIn {
  0% {
    -webkit-transform: translate3d(200%, 0px, 0px);
    transform: translate3d(200%, 0px, 0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translate3d(180%, 0px, 0px);
    transform: translate3d(180%, 0px, 0px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate3d(150%, 0px, 0px);
    transform: translate3d(150%, 0px, 0px);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate3d(80%, 0px, 0px);
    transform: translate3d(80%, 0px, 0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate3d(60%, 0px, 0px);
    transform: translate3d(60%, 0px, 0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate3d(40%, 0px, 0px);
    transform: translate3d(40%, 0px, 0px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate3d(30%, 0px, 0px);
    transform: translate3d(30%, 0px, 0px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate3d(20%, 0px, 0px);
    transform: translate3d(20%, 0px, 0px);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate3d(5%, 0px, 0px);
    transform: translate3d(5%, 0px, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
@keyframes transformsIn {
  0% {
    -webkit-transform: translate3d(200%, 0px, 0px);
    transform: translate3d(200%, 0px, 0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translate3d(180%, 0px, 0px);
    transform: translate3d(180%, 0px, 0px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate3d(150%, 0px, 0px);
    transform: translate3d(150%, 0px, 0px);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate3d(80%, 0px, 0px);
    transform: translate3d(80%, 0px, 0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate3d(60%, 0px, 0px);
    transform: translate3d(60%, 0px, 0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate3d(40%, 0px, 0px);
    transform: translate3d(40%, 0px, 0px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate3d(30%, 0px, 0px);
    transform: translate3d(30%, 0px, 0px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translate3d(20%, 0px, 0px);
    transform: translate3d(20%, 0px, 0px);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate3d(5%, 0px, 0px);
    transform: translate3d(5%, 0px, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l,
.jssora05r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url('../images/a17.png') no-repeat;
  overflow: hidden;
}
.jssora05l {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
.jssort01 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 72px;
}
.jssort01 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.jssort01 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.jssort01 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 125px;
  height: 72px;
  border: #fff 3px solid;
  box-sizing: content-box;
  /*background: url('img/t01.png') -800px -800px no-repeat;*/
  _background: none;
}
.jssort01 .pav .c {
  top: 0px;
  _top: 0px;
  left: 0px;
  _left: 0px;
  width: 119px;
  height: 65px;
  border: #5596fa 3px solid;
  _border: #5596fa 3px solid;
  background-position: 50% 50%;
}
.jssort01 .p:hover .c {
  top: 0px;
  left: 0px;
  width: 119px;
  height: 65px;
  border: #5596fa 3px solid;
  background-position: 50% 50%;
}
.jssort01 .p.pdn .c {
  background-position: 50% 50%;
  width: 119px;
  height: 65px;
  border: #5596fa 3px solid;
}
* html .jssort01 .c,
* html .jssort01 .pdn .c,
* html .jssort01 .pav .c {
  /* ie quirks mode adjust */
  width: 72px;
  height: 72px;
}
/* slider */
#slider {
  /*width:97%;*/
  /*width:1016px;*/
  height: 412px;
  overflow: hidden;
  padding: 20px 15px;
  position: relative;
  margin: 40px auto;
}
.scroll {
  width: 916px;
  height: 412px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.scrollContainer {
  position: relative;
  width: 1815px;
  left: 0px;
}
.scrollContainer .current .inside {
  width: 327px;
  height: 288px;
}
.scrollContainer .panel {
  width: 280px;
  height: 345px;
  float: left;
  margin-right: 14px;
  display: inline;
}
.panel .inside {
  /*display:block;*/
  position: relative;
}
.inside img {
  height: 100%;
  width: 100%;
}
.btnMode a.btn {
  background: url('../images/zizhan.png') no-repeat;
  width: 38px;
  height: 38px;
}
.btnMode a.btn {
  position: absolute;
  top: 200px;
}
.btnMode a.prev {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.btnMode a.next {
  right: 0;
}
/*左右滚动效果*/
/*公共部分*/
.wc1200 {
  margin: 0px 50px;
  /*width:1200px;*/
  /*padding-top: 20px;*/
  margin-top: 70px;
}
.fr {
  float: right;
}
.mt20 {
  /*margin-top:20px;*/
}
.icon {
  background: url(../images/edit.jpg) no-repeat 0 0;
}
.wrapBox {
  position: absolute;
  margin: 0 auto;
  width: 100% !important;
}
.warp-pic-list li {
  float: left;
  display: inline;
}
.warp-pic-list .img_wrap {
  display: block;
  font-size: 0;
  overflow: hidden;
}
.warp-pic-list .text-area {
  background-color: #f2f2f2;
  line-height: 24px;
}
/*全局板块*/
/*全局页签*/
.tab-T-3 {
  width: 66px;
}
.tab-T-3 li {
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: #dfdfdf;
  float: left;
  margin-left: 5px;
  cursor: pointer;
  display: inline;
}
.tab-T-3 li.cur {
  background-color: #d81c1b;
}
/**/
.rowE .warp-pic-list {
  position: relative;
  /*width:1165px;*/
  /*width:100%;*/
  height: 145px;
  overflow: hidden;
}
.rowE .count li {
  margin-right: 10px;
  width: 220px;
  height: 180px;
}
.rowE .count .img_wrap {
  width: 220px;
  height: 135px;
}
.rowE .count .img_wrap img {
  width: 220px;
}
.rowE .btn {
  display: block;
  height: 38px;
  position: absolute;
  top: 45px;
  width: 38px;
  z-index: 200;
  cursor: pointer;
}
.rowE .prev {
  left: -10px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rowE .next {
  right: 0px;
}
@media all and (min-width: 1920px) {
  /* jssor slider arrow navigator skin 05 css */
  /*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
  .jssora05l,
  .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('../images/a17.png') no-repeat;
    overflow: hidden;
  }
  .jssora05l {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /* jssor slider thumbnail navigator skin 01 css */
  /*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
  .jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 72px;
  }
  .jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  .jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 125px;
    height: 72px;
    border: #fff 3px solid;
    box-sizing: content-box;
    /*background: url('img/t01.png') -800px -800px no-repeat;*/
    _background: none;
  }
  .jssort01 .pav .c {
    top: 0px;
    _top: 0px;
    left: 0px;
    _left: 0px;
    width: 119px;
    height: 65px;
    border: #5596fa 3px solid;
    _border: #5596fa 3px solid;
    background-position: 50% 50%;
  }
  .jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 119px;
    height: 65px;
    border: #5596fa 3px solid;
    background-position: 50% 50%;
  }
  .jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 119px;
    height: 65px;
    border: #5596fa 3px solid;
  }
  * html .jssort01 .c,
  * html .jssort01 .pdn .c,
  * html .jssort01 .pav .c {
    /* ie quirks mode adjust */
    width: 72px;
    height: 72px;
  }
}
