html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}
input,
textarea {
  outline: none;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
}
#fly-main {
  z-index: 1;
  width: 1200px;
  display: flex;
  display: -webkit-flex;
  position: relative;
  margin: 0 auto 0;
}
#fly-main .left-nav {
  flex-grow: 2;
  position: relative;
}
#fly-main .left-nav .fly-logo {
  width: .4rem;
  position: absolute;
  left: 170px;
  top: 30%;
}
#fly-main .left-nav .time-line-container {
  width: 130px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#fly-main .left-nav .time-line-container .time-line {
  width: 1px;
  height: 100%;
  position: absolute;
  right: 50px;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(103, 147, 250, 0)), color-stop(0.25, #6793fa), color-stop(0.25, #6793fa), to(rgba(103, 147, 250, 0)));
  background: -moz-linear-gradient(top, rgba(103, 147, 250, 0), #6793fa 25%, #6793fa 75%, rgba(103, 147, 250, 0));
  background: -ms-linear-gradient(top, rgba(103, 147, 250, 0), #6793fa 25%, #6793fa 75%, rgba(103, 147, 250, 0));
}
#fly-main .left-nav .time-line-container .year-container {
  width: 100%;
  height: 80%;
  top: 10%;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
}
#fly-main .left-nav .time-line-container .year-container .year {
  flex-grow: 1;
  padding-left: 17px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
#fly-main .left-nav .time-line-container .year-container .year.active {
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
}
#fly-main .left-nav .time-line-container .year-container .year.active:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 18px solid #ff6138;
  border-bottom: 10px solid transparent;
  right: 0;
  top: 2px;
}
#fly-main .left-nav .time-line-container .year-container .year.active .point {
  border: 1px solid rgba(103, 147, 250, 0.7);
  background: #eee;
  top: 7px;
}
#fly-main .left-nav .time-line-container .year-container .year.active .point:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 2px;
  top: 2px;
  background: #ff6138;
  border-radius: 50%;
}
#fly-main .left-nav .time-line-container .year-container .year.active span {
  display: inline-block;
  background: #ff6138;
  color: #fff;
  border-radius: 6px;
  padding: 5px 8px;
  margin-top: 0px;
  box-sizing: border-box;
  position: relative;
}
#fly-main .left-nav .time-line-container .year-container .year.active span:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: #ff6138;
  right: -4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}
#fly-main .left-nav .time-line-container .year-container .year span {
  margin-top: 6px;
  display: inline-block;
}
#fly-main .left-nav .time-line-container .year-container .year .point {
  width: 14px;
  height: 14px;
  background: #6793fa;
  position: absolute;
  border-radius: 50%;
  top: 7px;
  right: 43px;
}
#fly-main .right-content {
  flex-grow: 4;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #EEE;
  position: relative;
}
#fly-main .right-content .fly-slider-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 700px;
  overflow: hidden;
  background: #eee;
}
#fly-main .right-content .fly-slider-container ul {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.43, 0.6, 0, 0.98);
  transition-timing-function: cubic-bezier(0.43, 0.6, 0, 0.98);
}
@media all and (max-width: 1366px) {
  #fly-main {
    width: 1000px;
  }
}
