html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
input,
textarea {
  outline: none;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: normal;
}
#fly-main {
  opacity: 0;
}
#fly-main.active {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}
#fly-main {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/loding-bg.jpg") no-repeat center bottom;
  background-size: cover;
}
#fly-main .sideshow {
  position: absolute;
  left: 0;
  top: 0;
}
#fly-main .fly-logo-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
  z-index: 2;
  width: 874px;
  height: 3.1rem;
  position: absolute;
  left: 50%;
  margin-left: -437px;
}
#fly-main .fly-logo-container .fly-logo {
  margin: .5rem auto 0;
  width: 60%;
}
#fly-main .fly-logo-container .ar {
  position: absolute;
  width: .7rem;
}
#fly-main .fly-logo-container .ar1 {
  width: .2rem;
  left: 35%;
  top: 30px;
}
#fly-main .fly-logo-container .ar2 {
  left: .4rem;
  bottom: 1.42rem;
  width: .4rem;
}
#fly-main .fly-logo-container .ar3 {
  bottom: 0;
  left: 60%;
  width: .2rem;
}
#fly-main .fly-logo-container .ar4 {
  right: -1.2rem;
  bottom: .5rem;
}
#fly-main .fly-logo-container .ar5 {
  top: 1rem;
  right: .8rem;
  width: .3rem;
}
#fly-main .fly-logo-container .ar6 {
  top: .3rem;
  left: 60%;
  width: .3rem;
}
#fly-main .fly-banner {
  position: absolute;
  top: 37%;
  left: 0;
  z-index: 1;
}
#fly-main .fly-text {
  z-index: 10;
  width: 960px;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 50%;
  z-index: 3;
}
#fly-main .fly-text p span {
  color: #233855;
  display: inline-block;
  -webkit-transform: translate3d(-40px, -40px, 0);
  transform: translate3d(-40px, -40px, 0);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#fly-main .fly-text p span:nth-of-type(1) {
  margin-left: 2em;
}
#fly-main .fly-text p span.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
#fly-main .nav-canvas-container {
  z-index: 1;
  width: 1200px;
  height: 400px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -600px;
}
#mask {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background: url("../images/loding-bg.jpg") no-repeat center center;
  background-size: cover;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
#mask.hide {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.97, 0.82, 0.97);
  transition-timing-function: cubic-bezier(0, 0.97, 0.82, 0.97);
  overflow: hidden;
  width: 0;
  left: 50%;
}
.loading {
  width: 400px;
  height: 150px;
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.loading.hide {
  display: none;
}
.loading div {
  text-align: center;
  font-size: 50px;
  color: #3e3bbd;
}
@media all and (max-width: 1366px) {
  .nav-canvas-container {
    top: 50%;
  }
  #fly-main .fly-logo-container .fly-logo {
    width: 43%;
  }
}
