html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: 100%;
}
input,
textarea {
  outline: none;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
}
#fly-main .fly-header {
  width: 80%;
  margin-left: 70px;
}
#fly-main .fly-logo {
  width: 700px;
  margin: 70px auto;
  position: relative;
}
#fly-main .fly-logo div {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 280px;
  box-sizing: border-box;
  top: 1px;
  -webkit-animation: rotate 2.5s infinite;
  animation: rotate 2.5s infinite;
}
#fly-main .fly-logo div:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e65e51;
  top: -3px;
  left: 0;
  box-shadow: 0 0 10px rgba(62, 59, 189, 0.5);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  10% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  10% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
}
#fly-main .fly-panner-container {
  width: 84%;
  height: 100px;
  margin: 20px 0 0 70px;
}
#fly-main .fly-panner-container .fly-slider-container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
}
#fly-main .fly-panner-container .fly-slider-container .fly-left {
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
  background-color: #e9e9e9;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
}
#fly-main .fly-panner-container .fly-slider-container .fly-left .fly-content {
  position: absolute;
  width: 80%;
  left: 10%;
  line-height: 34px;
  text-indent: 2em;
}
#fly-main .fly-panner-container .fly-slider-container .fly-left .fly-title {
  width: 80%;
  margin: 40px auto 60px;
  text-align: center;
  font-size: 32px;
  font-weight: normal;
}
#fly-main .fly-panner-container .fly-slider-container .fly-left .fly-title .fly-line {
  margin: 0 22px;
  color: #c9ccd0;
  display: inline-block;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  opacity: .8;
}
#fly-main .fly-panner-container .fly-slider-container .fly-left .fly-title .fly-num {
  color: #666666;
}
#fly-main .fly-panner-container .fly-slider-container .fly-left .fly-title .fly-t {
  color: #bf996b;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right {
  background-color: #fff;
  flex-grow: 6;
  box-sizing: border-box;
  position: relative;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right > div {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right > div:before {
  content: '';
  position: absolute;
  width: 76%;
  height: 40px;
  z-index: 0;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  bottom: -1px;
  left: 12%;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-img-container {
  margin: 50px auto 0;
  width: 85%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-img-container ul {
  position: absolute;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.99, 0.72, 0.96);
  transition-timing-function: cubic-bezier(0, 0.99, 0.72, 0.96);
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-img-container ul li {
  flex-grow: 1;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-change-group {
  width: 250px;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  bottom: 30px;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-change-group div {
  flex-grow: 1;
  text-align: center;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-change-group div:nth-of-type(1) span,
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-change-group div:nth-of-type(3) span {
  -webkit-user-select: none;
  user-select: none;
  width: 60px;
  height: 48px;
  line-height: 48px;
  background: #6491ea;
  display: inline-block;
  -webkit-transform: scaleY(1.2);
  transform: scaleY(1.2);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-change-group div:nth-of-type(1) span.disable,
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-change-group div:nth-of-type(3) span.disable {
  background: #ccc;
  cursor: not-allowed;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-change-group div:nth-of-type(2) span {
  display: inline-block;
  line-height: 48px;
  font-size: 26px;
}
#fly-main .fly-panner-container .fly-slider-container .fly-right .fly-change-group div:nth-of-type(2) span:nth-of-type(1) {
  color: #b64926;
}
